{% extends "base.html" %}

{% block content %}
    <div class="homeLink">
      <a href="/">Home</a>
    </div>
    <div class="inputForm">
      <form action="/status" method="post" enctype="multipart/form-data">
        <div>
          <label for="apikey">Please submit Your HIBP API key:</label>
          <br>
          <br>
          <input type="password" id="apikey" name="apikey" placeholder="HIBP API key...">
        </div>
        <div>
          <br>
          <label for="stream">Please submit Your emails to check in one string:</label>
          <br>
          <br>
          <input type="file" id="stream" name="stream">
        </div>
        <br>
        <div>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
{% endblock %}
